/* reset css */
body {
    margin: 0;
    /* font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"; */
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}

p {
    font-weight: 200;
}

/* hết reset css */

/* các element dùng chung cho các page */
.slider-area .hero-caption.hero-caption2 h2,
.slider-area .hero-caption.hero-caption2 p {
    font-weight: 200;
    text-transform: uppercase;
}

.slider-area .hero-caption.hero-caption2 h2 {
    font-size: 52px;
}

.cpanel-action {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    position: sticky;
    top: 60px;
    width: -moz-max-content;
    width: max-content;
}

.cpanel-item {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    padding: 0;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    color: #fff;
    font-size: 28px;
    transition: all .3s;
    margin-bottom: 10px;
}

.cpanel-item svg {
    background: #fff none;
    border: 1px solid #e4e4e4;
    border-radius: 100px;
}

/* .share a i {
    color: #1889E3;
    font-size: 21px;
    margin: 0px 10px;
    width: 30px;
}

.share a i:hover {
    cursor: pointer;
} */

/* hết phần element dùng chung */



/* css cho menu */
#navigation li a {
    text-transform: uppercase;
    font-size: 15px;
}

.submenu li {
    border-bottom: 1px solid #eeeeee;
    padding: 8px 0px;
}

/* hết menu */

/* trang home */
.section-tittle h2 {
    /* margin-bottom: 10px;
    font-weight: 200; */
    font-weight: 200;
    font-size: 35px;
    line-height: 52px;
    color: #004390;
    /* padding-top: 120px; */
}

.section-bg {
    /* background: #FCF2EB; */
    background-color: #F8FBFC;
}

/* .visit-three {
    background-color: #F8FBFC;
} */
.visit-three .tailor-details {
    padding: auto;
}

/* hết trang home */

/* trang sản phẩm */
.section-padding {
    padding-top: 50px;
}

/* hết trang sản phẩm */

/* trang news */
.cat-list li a p {
    text-transform: capitalize;
}

.blog_details .image img {
    width: 100% !important;
}

.blog_details p img {
    width: 100% !important;
}
.blog_details .blog-head {
    font-size: 22px;
    font-weight: 200;
    text-transform: uppercase;
}
    -- Mạng xã hội
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    position: relative;
}

.mf-social-side-list {
    position: fixed;
    top: 30vh;
    left: 10vw ;
    z-index: 100;
}

.mf-social-side-list ul {
    list-style: none;
    display: none;
    flex-direction: column;
    padding: 0;
    margin: 0
}

.mf-social-side-list ul li a {
    color: #ffffff;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    line-height: 35px;
    margin-top: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.mf-social-side-list ul li a:hover {
    opacity: .9;
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
}

.mf-social-side-list ul li a[id*='shareWithFb'] {
    background: #3b5998;
}

.mf-social-side-list ul li a[href*='instagram'] {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    ;
}

.mf-social-side-list ul li a[href*='youtube'] {
    background: #c4302b;
}

.mf-social-side-list ul li a[id*='copyToClipboard'] {
    background: #0077B5;
}

.mf-social-side-list ul li a[id*='shareWithTwitter'] {
    background: #00acee;
}
@media only screen and (max-width: 1540px) {
    .mf-social-side-list{
        left: 10px;
    }
  }
@media only screen and (max-width: 1760px)and (min-width: 1541px) {
.mf-social-side-list{
    left: 8vw;
}
}
@media only screen and (min-width: 1760px) {
    .mf-social-side-list{
        left: 12vw;
    }
}

/* hết trang news */

.full-height {
    height: 95% !important;
}

.blog-caption p span {
    line-height: 25px !important;
    font-weight: 200;
}

.home-blog .single-blogs .blog-caption h3 a {
    font-size: 23px;
    font-weight: 200;
}

.properties__caption h3 a {
    text-transform: uppercase;
    font-weight: 200;
}

/* tuyển dụng */
.btn-recruiment {
    background-color: #1293EE !important;
}

.home-blog .single-blogs .blog-caption {
    padding: 18px 10px 25px 10px;
}

/* hết tuyển dụng */
